@font-face {
    font-family: 'Nova';
    src: url(./Fonts/Nova.otf);
}

@font-face {
    font-family: 'Raleway';
    src: url(./Fonts/Raleway.ttf);
}

body {
    background: linear-gradient(0deg, rgb(18, 18, 18) 0%, rgb(53, 54, 52) 100%);
    width: 100vw;
    height: 1600px;
    padding: 0px;
}

.overskrift_class {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 28vw;
    color: white;
    font-family: "Raleway";
}

#overskrift {
    top: 200px;
    font-size: 18px;
    text-align: center;
}

#overskrift_linje {
    top: 230px;
    background-color: white;
    height: 1px;
}

#overskrift_tekst {
    top: 270px;
    font-size: 14px;
}

#sort_banner {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 800px;

    width: 100vw;
    height: 400px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.887) 0%, rgba(120, 119, 119, 0.304) 100%);
}

#Signe_billede {
    position: absolute;
    transform: translate(0, -50%);
    left: 2vw;
    top: 800px;

    width: 260px;
}

#om_mig_overskrift {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 42vw;
    top: 610px;

    font-size: 100px;
    color: white;
    font-family: "Nova";
}

#om_mig_tekst {
    position: absolute;
    transform: translate(-50%, 0);
    left: 58vw;
    top: 700px;

    width: 60vw;

    font-family: "Raleway";
    color: white;
    font-size: 14px;
}

.sort_boks_class {
    position: absolute;
    transform: translate(-50%, 0);
    top: 1110px;

    width: 27vw;
    height: 500px;

    background-color: black;
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
}

#sort_boks_1 {
    left: 20%;
}

#sort_boks_2 {
    left: 50%;
}

#sort_boks_3 {
    left: 80%;
}

.billede_class {
    position: absolute;
    transform: translate(-50%, 0);
    top: 1150px;

    width: 20vw;

    border-radius: 100%;
}

#Paul {
    left: 20%;
}

#Dolly {
    left: 50%;
}

#Jim {
    left: 80%;
}

.tekst_class {
    position: absolute;
    transform: translate(-50%, 0);
    top: 1370px;
    
    font-size: 3vw;
    color: white;
    font-family: "Nova";
    text-shadow: 0px -10px 20px rgba(0, 0, 0, 0.9);

}

#Paul_tekst {
    left: 20%;
}

#Dolly_tekst {
    left: 50%;
}

#Jim_tekst {
    left: 80%;
}

.undertekst_class {
    position: absolute;
    transform: translate(-50%, 0);
    top: 1450px;
    
    width: 20vw;;

    font-size: 12px;
    color: white;
    font-family: "Raleway";

}

#Paul_undertekst {
    left: 20%;
}

#Dolly_undertekst {
    left: 50%;
}

#Jim_undertekst {
    left: 80%;
}