body {
    background: rgb(127,170,177);
    background: radial-gradient(circle, rgba(127,170,177,1) 0%, rgba(35,61,91,1) 100%);
}

#title {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10px; 

    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px rgb(35, 61, 91, 0.3);
}

#tonyaImage {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 100px;
    
    width: 200px;
    height: 200px;

    box-shadow: 5px 5px 5px rgb(35, 61, 91, 0.1);
    border-radius: 10px;
}

.levelText {
    position: absolute;
    transform: translate(-50%, 0);
    left: calc(50% + 55px);

    width: 300px;
    height: fit-content;

    font-size: 18px;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(35, 61, 91, 0.1);
}

#tonyaEnergyText {
    top: 310px;
}

#tonyaSatisfactionText {
    top: 340px;
}

button {
    position: absolute;
    transform: translate(-50%, 0);
    top: 420px;

    width: 140px;
    height: 60px;

    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 5px rgba(18, 35, 54, 0.8);
}

button:hover {
    background-color: rgb(219, 219, 219);
}

#givedogfoodtoTonyaButton {
    left: calc(50% - 360px);
}

#playwithTonyaButton {
    left: calc(50% - 180px);
}

#petTonyaButton {
    left: 50%;
}

#walkTonyaButton {
    left: calc(50% + 180px);
}

#talktoTonyaButton {
    left: calc(50% + 360px);
}
