@font-face {
font-family: 'Sandanafont';
src: url('./Fonts/Sandanafont.ttf');
}

body {
    background-color: var(--body-background-color);
}

.colorButtons {
    position: absolute;
    width: 40px;
    height: 40px;

    top: 10px;

    border: 3px solid;
    border-color: white;
    border-radius: 100px;
}

.colorButtons:hover {
    border: 5px solid;
    border-color: #030918;
}

#colorButton1 {
background-color: #213363;
left: 10px;
}

#colorButton2 {
    background-color: #17594A;
    left: 60px;
}

#colorButton3 {
    background-color: #8EAC50;
    left: 110px;
}

#colorButton4 {
    background-color: #D3D04F;
    left: 160px;
}

#title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80px;

    width: max-content;

    color: white;
    font-size: 60px;
    font-family: "Sandanafont";
}

#underTitle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: calc(50% - 60px);
    top: 140px;

    width: max-content;

    color: white;
    font-size: 40px;
    font-family: "Sandanafont";
}

#titleLine {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 180px;

    width: 760px;
    height: 4px;

    background-color: white;
}

#text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 350px;

    width: 760px;

    color: white;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

#picture1 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;

    left: calc(50% - 540px);
    top: 310px;
}

#picture2 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;

    left: calc(50% + 540px);
    top: 280px;
}

#picture3 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;

    left: calc(50% + 540px);
    top: 560px;
}

#picture4 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 200px;

    left: calc(50% - 540px);
    top: 640px;
}

#colorText {
    position: absolute;
    left: 10px;
    top: 65px;

    color: white;
    font-size: 15px;
    font-family: Arial Black, Helvetica, sans-serif;
    letter-spacing: 1px;;
}
