@font-face {
    font-family: 'Bignue';
    src: url('./Fonts/Bignue.otf');
}

@font-face {
    font-family: 'NunitoSans';
    src: url('./Fonts/NunitoSans.ttf');
}


#white_box {
    background-color: rgba(255, 255, 255, var(--white_box_alpha));
    width: 375px;
    height: 432px;

    position: absolute;
    left: 660px;
    top: 10%;
}

#mainTitle {
    font-size: 60px;
    font-family: "Bignue";

}

#titleText {
    font-size: 16px;
    font-family: "NunitoSans";
}

.textClass {
    position: relative;
    top: 20px;
    left: 40px;
}

.imagesClass {
    width: 375px;
    height: 432px;

    position: absolute;
    left: 660px;
    top: 10%;
}

#reveal_button {
    font-family: "NunitoSans";
    background-color: rgb(255, 255, 255);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 100px;

    width: 300px;
    height: 40px;
    
    position: relative;
    top: 440px;
    left: 200px;
}

#reveal_button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.questionClass {

    font-size: 18px;
    color: white;
    font-family: "NunitoSans";

    transform: translate(-50%, -50%);
    position: absolute;
    width: 200px;
    height: 50px;

    background-color: black;
    border: 2px solid black;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionClass:hover {
box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

#question11,
#question12,
#question13 {
    top: 180px;
}

#question21,
#question22,
#question23 {
    top: 270px;
}

#question31,
#question32,
#question33 {
    top: 360px;
}

#question41,
#question42,
#question43 {
    top: 450px;
}

#question11,
#question21,
#question31,
#question41 {
    left: 148px;
}

#question12,
#question22,
#question32,
#question42 {
    left: 360px;
}

#question13,
#question23,
#question33,
#question43 {
    left: 572px;
}






#body_image {
    opacity: var(--body_image_alpha);
}





#eyes_image_1 {
    opacity: var(--eyes_image_1_alpha);
}

#eyes_image_2 {
    opacity: var(--eyes_image_2_alpha);
}

#eyes_image_3 {
    opacity: var(--eyes_image_3_alpha);
}




#face_image_1 {
    opacity: var(--face_image_1_alpha);
}

#face_image_2 {
    opacity: var(--face_image_2_alpha);
}

#face_image_3 {
    opacity: var(--face_image_3_alpha);
}




#hair_image_1 {
    opacity: var(--hair_image_1_alpha);
}

#hair_image_2 {
    opacity: var(--hair_image_2_alpha);
}

#hair_image_3 {
    opacity: var(--hair_image_3_alpha);
}





#clothes_image_1 {
    opacity: var(--clothes_image_1_alpha);
}

#clothes_image_2 {
    opacity: var(--clothes_image_2_alpha);
}

#clothes_image_3 {
    opacity: var(--clothes_image_3_alpha);
}