body {
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    height: auto;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/*TOP-MENU**********************************************************/

#topmenu {
    position: absolute;
    transform: translate(-100%, 0);
    justify-content: center;
    align-items: center;
    display: flex;

    left: 98vw;
    top: 3vh;

    width: 30vw;
}

#logo_billede {
    width: 8vw;
}

#topmenu_tekst {
    display: flex;
    gap: 4vw;
    width: 30vw;
}

.topmenu_class {
    font-size: 0.9vw;
    font-family: "Inter-Regular";
    color: #B6B6B6;
    text-align: center;
}

#topmenu_forside {
    color: #243758;
    font-family: "Inter-ExtraBold";
}

#topmenu_tilmelding:hover, #topmenu_omos:hover {
    color: #243758;
}

/*KROPPEN**********************************************************/

#kroppen {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 16vw;

    gap: 8vw;
}

/*OVERSKRIFT**********************************************************/

#overskrift {
    justify-content: center;
    width: 100vw;

    color: black;
    font-family: "Koulen";
    line-height: 1;
}

#overskift_linje1 {
    position: absolute;
    font-size: 8vw;
    margin-left: 5vw;
}

#overskift_linje3 {
    color: #243758;
}

#linje2 {

    display: flex;
    gap: 2vw;

    font-size: 8vw;
    margin-left: 5vw;
}

/*CITAT**********************************************************/

#citat {
    margin-left: 5vw;

    width: 25vw;
    color: #B6B6B6;
    font-family: "Inter-Light";
    font-size: 1vw;
}

/*GRÅ BOKSE**********************************************************/

#grå_bokse {
    width: 100vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.grå_boks_class {
    background: linear-gradient(90deg, rgba(231, 231, 231, 0.5) 0%, rgba(230, 230, 230, 0.5) 100%);
}

.grå_boks_billede_class {
    height: 15vw;
    margin: 1vw;
    border-radius: 1vw;

    top: 1vw;
    left: 1vw;
}

.grå_boks_overskrift_class {
    font-family: "Inter-Bold";
    color: black;
    font-size: 1vw;
}

.grå_boks_brødtekst_class {
    font-family: "Inter-Regular";
    color: #243758;
    line-height: 1;
    font-size: 1vw;
}

/*GRÅ BOKS 1**********************************************************/

#grå_boks1 {
    display: flex;
    justify-content: left;
    gap: 2vw;

}

#grå_boks1_tekst {
    margin-top: 2vw;
    line-height: 3;
    width: 70vw;
}

/*GRÅ BOKS 2**********************************************************/

#grå_boks2 {
    display: flex;
    justify-content: left;
    gap: 2vw;
}

#grå_boks2_tekst {
    margin-top: 2vw;
    line-height: 3;
    width: 70vw;
}

/*GRÅ BOKS 3**********************************************************/

#grå_boks3 {
    display: flex;
    justify-content: left;
    gap: 2vw;
}

#grå_boks3_tekst {
    margin-top: 2vw;
    line-height: 3;
    width: 70vw;
}

/*KNAP OG TEGNING**********************************************************/

#knap_og_tegning {
    left: 50%;
    margin-top: 40vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*KNAP**********************************************************/

#knap {
    width: 19vw;
    height: 2.6vw;

    color: #243758;
    text-align: center;
    font-family: "Inter-Regular";
    font-size: 1vw;

    border-radius: 1000px;
    border: 0.14vw solid #243758;
    background: linear-gradient(90deg, rgba(217, 217, 217, 1) 0%, rgba(194, 194, 194, 1) 100%);
    padding-top: 1.3vw;
}

#knap:hover {
    background: linear-gradient(90deg, rgb(233, 233, 233) 0%, rgb(212, 212, 212) 100%);

}

/*KARATE TEGNING**********************************************************/

#karate_tegning {
    width: 30vw;
}

/*BOTTOMMENU**********************************************************/

#bottommenu {
    display: flex;
    gap: 20vw;
    justify-content: center;
    align-items: center;


    width: 100vw;
    height: 20vh;

    background-color: #C5C5C5;
}

.bottommenu_tekst {
    color: white;
    font-family: "Inter-Regular";
    font-size: 0.8vw;
}