@font-face {
    font-family: 'Inter-Black';
    src: url('../Fonts/Inter-Black.ttf');
    }

    @font-face {
        font-family: 'Inter-Bold';
        src: url('../Fonts/Inter-Bold.ttf');
        }

        @font-face {
            font-family: 'Inter-ExtraBold';
            src: url('../Fonts/Inter-ExtraBold.ttf');
            }
           
            @font-face {
                font-family: 'Inter-ExtraLight';
                src: url('../Fonts/Inter-ExtraLight.ttf');
                }

                @font-face {
                    font-family: 'Inter-Light';
                    src: url('../Fonts/Inter-Light.ttf');
                    }

                    @font-face {
                        font-family: 'Inter-Medium';
                        src: url('../Fonts/Inter-Medium.ttf');
                        }

                        @font-face {
                            font-family: 'Inter-Regular';
                            src: url('../Fonts/Inter-Regular.ttf');
                            }

                            @font-face {
                                font-family: 'Inter-SemiBold';
                                src: url('../Fonts/Inter-SemiBold.ttf');
                                }
                                
                                @font-face {
                                    font-family: 'Inter-Thin';
                                    src: url('../Fonts/Inter-Thin.ttf');
                                    }
                                        @font-face {
                                            font-family: 'Koulen';
                                            src: url('../Fonts/Koulen.ttf');
                                            }