body {
background-color: rgb(31, 31, 31);
}

@font-face {
font-family: 'Pixelfont';
src: url('Fonts/Pixelfont.ttf');
}

#character {
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: calc(50% - 100px);

width: 64px;
height: 64px;

background-image: url('Images/walkingDownAnimation1.png');
}

#text {
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: calc(50% - 200px);

color: white;
font-size: 18px;
font-family: 'Pixelfont';
text-align: center;
}

.button {
position: absolute;
transform: translate(-50%, -50%);
top: 50%;

width: 30px;
height: 30px;

color: black;
background-color: white;
font-size: 24px;
font-family: 'Pixelfont';
text-align: center;

border: 12px;
border-style: solid;
border-color: white;

}

#buttonW {
left: calc(50% - 120px)
}

#buttonA {
left: calc(50% - 40px)
    }

#buttonS {
left: calc(50% + 40px)
}

#buttonD {
left: calc(50% + 120px)
}