body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#painting_background_image {
    position: absolute;
    transform: translate(-50%, 0);

    height: 100vh;
    left: 50%;

}

.colorClass {
    border-radius: 100%;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(255, 255, 255);

    position: absolute;
    transform: translate(-50%, -50%);
    height: 10.3vh;
    aspect-ratio: 1 / 1;
}

#red_color {
    background-color: rgba(151, 16, 16, 0.4);
    top: 54.2vh;
    left: calc(50% - 26.2vh);
    opacity: 0;
}

#orange_color {
    background-color: rgba(230, 130, 0, 0.4);
    top: 54.3vh;
    left: calc(50% - 13.15vh);
    opacity: 0;
}

#green_color {
    background-color: rgba(25, 172, 6, 0.4);
    top: 66.3vh;
    left: calc(50% - 33.25vh);
    opacity: 0;
}

#blue_color {
    background-color: rgba(17, 96, 214, 0.4);
    top: 66.61vh;
    left: calc(50% - 18.9vh);
    opacity: 0;
}

#pink_color {
    background-color: rgba(131, 12, 115, 0.4);
    top: 78.3vh;
    left: calc(50% - 26.85vh);
    opacity: 0;
}

#canvas {
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 50vh;

    left: calc(50% + 28vh);
    top: 62vh;
}