body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    }

    @font-face {
    font-family: 'Pixelfont';
    src: url('Fonts/Pixelfont.ttf');
    }

    #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 1024px;
    height: 576px;
    background-color: white;
    }

    #map {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 1024px;
    height: 576px;

    overflow: hidden;
    background: url("Images/Map.png");
    background-position-x: -1340px;
    background-position-y: -800px;
    }

    #player {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;

    width: 64px;
    height: 64px;

    background-image: url('Images/walkingDownAnimation1.png');
    }

    #foreground {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 1024px;
    height: 576px;

    overflow: hidden;
    background: url("Images/Foreground.png");
    background-position-x: -1340px;
    background-position-y: -800px;
    }

    #text {
    position: absolute;
    left: 1050px;
    top: 20px;

    color: white;
    font-size: 16px;
    font-family: "Pixelfont";

    line-height: 24px;
    }