@font-face {
    font-family: 'Inter-Bold';
    src: url('../Fonts/Inter-Bold.ttf');
    }

    @font-face {
        font-family: 'Inter-ExtraBold';
        src: url('../Fonts/Inter-ExtraBold.ttf');
        }

        @font-face {
            font-family: 'Inter-Medium';
            src: url('../Fonts/Inter-Medium.ttf');
            }
           
            @font-face {
                font-family: 'WorkSans-Black';
                src: url('../Fonts/WorkSans-Black.ttf');
                }

                @font-face {
                    font-family: 'WorkSans-Bold';
                    src: url('../Fonts/WorkSans-Bold.ttf');
                    }

                    @font-face {
                        font-family: 'WorkSans-ExtraBold';
                        src: url('../Fonts/WorkSans-ExtraBold.ttf');
                        }

                        @font-face {
                            font-family: 'WorkSans-Italic';
                            src: url('../Fonts/WorkSans-Italic.ttf');
                            }

                            @font-face {
                                font-family: 'WorkSans-LightItalic';
                                src: url('../Fonts/WorkSans-LightItalic.ttf');
                                }
                                
                                @font-face {
                                    font-family: 'WorkSans-Medium';
                                    src: url('../Fonts/WorkSans-Medium.ttf');
                                    }
                                    
                                    @font-face {
                                        font-family: 'WorkSans-Light';
                                        src: url('../Fonts/WorkSans-Light.ttf');
                                        }
                                        
                                        @font-face {
                                            font-family: 'Inter-Light';
                                            src: url('../Fonts/Inter-Light.ttf');
                                            }