    html, body {
    height: 100%;
    }

    body {
    background: linear-gradient(180deg, rgba(72, 106, 175, 1) 0%, rgba(173, 197, 243, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    #whiteBackgroundBox {
        position: absolute;
        transform: translate(-50%, 10px);
        
        top: 60px;
        left: 50%;
        
        width: 1000px;
        height: 2060px;

        background-color: white;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }

    #wadoKarateTitle {
        position: absolute;
        transform: translate(-50%, -50%);
        
        left: calc(50% - 250px);
        top: 145px;

        font-size: 40px;
        font-family: 'WorkSans-Black';
        color: #27385A;
    }
 
    #wadoKarateUndertitle {
        position: absolute;
        transform: translate(-50%, -50%);
        
        left: calc(50% - 285px);
        top: 225px;

        font-size: 16px;
        font-family: 'WorkSans-Italic';
        color: #27385A;
    }

    .topButtons {
        position: absolute;
        transform: translate(-50%, -50%);
        
        top: 38px;

        font-size: 16px;
        font-family: 'WorkSans-Medium';
        color: #ffffff;
    }

                #topButton1 {
                    left: calc(50% - 300px);
                    font-family: 'WorkSans-Bold';
                }

                #topButton2 {
                    left: 50%;
                }

                #topButton3 {
                    left: calc(50% + 300px);
                }
    
    .topButtons:hover {
        color: #27385A;
    }

    #wado-logo {
        position: absolute; 
        left: calc(50% + 260px);
        top: 128px;

        height: 140px;
        width: 140px;
    }

    #banner {
        position: absolute; 
        transform: translate(-50%, -50%);

        left: 50%;
        top: 385px;

        width: 1000px;
    }

    #quote {
        position: absolute; 
        transform: translate(-50%, -50%);

        left: 50%;
        top: 650px;

        font-size: 22px;
        font-family: 'WorkSans-LightItalic';
        text-align: center;
    }

    #quoteName {
        position: absolute; 
        transform: translate(-50%, -50%);

        left: 50%;
        top: 725px;

        font-size: 16px;
        font-family: 'WorkSans-Light';
        text-align: center;
    }

    .title {
        position: absolute; 
        transform: translate(-50%, -50%);

        left: 50%;

        color: #27385A;
        font-size: 16px;
        font-family: 'Inter-ExtraBold';
        text-align: left;
    }

    .text {
        position: absolute; 
        transform: translate(-50%, -50%);

        left: 50%;
        
        color: #486AAF;
        font-size: 16px;
        font-family: 'Inter-Medium';
        text-align: left;
        line-height: 1.8;
    }

    #title1 {
        top: 850px;
        width: 900px;
    }

    #text1 {
        top: 930px;
        width: 900px;
    }

    #title2 {
        top: 1030px;
        width: 900px;
    }

    #text2 {
        top: 1095px;
        width: 900px;
    }

    #juniorBox {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: 50%;
        top: 1290px;
        
        width: 1000px;
        height: 200px;

        background-color: #27385A;
    }

    #juniorImage {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% - 250px);
        top: 1290px;

        height: 200px;
        width: 500px;
    }

    #juniorTitle {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% + 110px);
        top: 1240px;

        color: #ADC5F3;
        font-size: 20px;
        font-family: 'Inter-Bold';
    }

    #juniorText {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% + 140px);
        top: 1310px;

        color: #ffffff;
        font-size: 16px;
        font-family: 'Inter-Light';
        line-height: 1.7;
    }

    #seniorBox {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: 50%;
        top: 1510px;
        
        width: 1000px;
        height: 200px;

        background-color: #27385A;
    }

    #seniorImage {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% - 250px);
        top: 1510px;

        height: 200px;
        width: 500px;
    }

    #seniorTitle {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% + 110px);
        top: 1460px;

        color: #ADC5F3;
        font-size: 20px;
        font-family: 'Inter-Bold';
    }

    #seniorText {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: calc(50% + 140px);
        top: 1530px;

        color: #ffffff;
        font-size: 16px;
        font-family: 'Inter-Light';
        line-height: 1.7;
    }

    #tilmeldButton {
        position: absolute; 
        transform: translate(-50%, -50%);
        
        left: 50%;
        top: 1730px;

        width: 280px;
        height: 80px;

        color: #ffffff;
        background: linear-gradient(90deg, rgba(72,106,175,1) 0%, rgba(86,135,234,1) 100%);
        font-size: 14px;
        letter-spacing: 1px;
        font-family: 'Inter-Light';
        border-radius: 100px;
        border: 0px;
    }

    #tilmeldButton:hover {
        box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
        width: 285px;
        height: 85px;
    }

    #title3 {
        left: calc(50% - 230px);        
        top: 1860px;

        width: 420px;
    }
            #text3 {
                left: calc(50% - 230px);   
                transform: translate(-50%, 0);   
                top: 1880px;

                width: 420px;
            }

 #title4 {
        left: calc(50% + 230px);        
        top: 1860px;

        width: 420px;
    }
            #text4 {
                left: calc(50% + 230px);
                transform: translate(-50%, 0);   
                top: 1880px;

                width: 420px;
            }
